.center-flex {
  display: flex;
  align-items: center;
  justify-content:flex-end;
}
/*-- image as a checkbox in CSS----*/
#hamburger-btns {
  appearance: none;
  width: 30px;
  height: 30px;
  background-image: var(--three-dot-menu-url);
  background-size: cover;
  cursor: pointer;
}

#hamburger-btns:checked {
  background-image: var(--three-dot-close-menu-url);
}

.nav-btns {
  display: flex;
  gap: 10px;
}

.nav-btn {
  width: 70px;

  cursor: pointer;

  gap: 10px;
  padding: 5px 5px;
}

.nav-btn:hover:not(:disabled) {
  background-color: var(--bg-btn-list-item-hover);
  box-shadow: 2px 2px 10px var(--shadow-btn-list-item-hower);
  transform: scale(1.05);
}

.nav-btn > span {
  font-size: 0.8rem;
}

.nav-btn[disabled] {
  cursor: not-allowed;
}

/* styles for desktops*/
@media (min-width: 1070px) {
  #hamburger-btns {
    display: none;
  }
  .nav-btns {
    display: flex;
  }
  .center-flex {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

/*styles for tablets*/
@media (min-width: 801px) and (max-width: 1070px) {
  #hamburger-btns:checked ~ .nav-btns {
    display: flex;
    flex-direction: column;
  }

  .nav-btns {
    display: none;
  }
  .center-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }
}

/*styles for mobiles*/
@media (max-width: 800px) {
  #hamburger-btns:checked ~ .nav-btns {
    display: flex;
    flex-direction: column;
  }

  .nav-btns {
    display: none;
  }
  .center-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }
}
