.search-form {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  border-radius: 15px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  
  padding: 5px;
  gap: 10px;
}

.search-form > input {
  flex: 1; /* Take up remaining space */
}

.btn {
  display: flex; 
  align-items: center;  
  gap: 10px; 
  padding: 10px 20px;
  background-color: rgb(43, 182, 115);
  color: #fff;
  border-radius: 15px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

 /* styles for desktops*/
@media (min-width: 1070px) {
  .btn > span{
    display: flex;
  }
}

/*styles for tablets*/
@media (min-width: 801px) and (max-width: 1070px){
  .btn > span{
    display: flex;
  }
}

/*styles for mobiles*/
@media (max-width: 800px){
  .btn > span{
    display: none;
  }

  .search-form > input > strong {
    display:none
  }

  .btn {
    display: flex; 
    align-items: center;  
    gap: 2px; 
    padding: 2px 4px;
    background-color:transparent;
    box-shadow: none;
    border: none;
    cursor: pointer;
  }

}  
