.search-form {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  padding: 5px;
  gap: 10px;
}

#search {
  flex: 1; /* Take up remaining space */
}

.btn {
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn:hover:not(:disabled) {
  transform: scale(1.05);
}

.btn:disabled {
  cursor: not-allowed;
}

/* styles for desktops*/
@media (min-width: 1070px) {
  .btn {
    width: 10%;
    gap: 10px;
    padding: 10px;
    display: flex;
  }
}

/*styles for tablets*/
@media (min-width: 801px) and (max-width: 1070px) {
  .btn {
    width: 12%;
    gap: 8px;
    padding: 8px;
    display: flex;
    flex-direction: column;
  }
}

/*styles for mobiles*/
@media (max-width: 800px) {
  .btn {
    width: 15%;
    gap: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
  }
}
