.item {
  display: flex;
  align-items: left;
}
.item > span {
  padding: 0;
  margin: 0;
  
}

.item > span > input {
  margin:10px; 
}

.item > span > a {
  color: inherit;
}

.btn{
  margin: 5px;
}

.todo-completed {
  text-decoration: line-through;
  color: green; 
}
