
.vertical-list {
    list-style-type: none; 
    padding: 0; 
    margin: 0;
  }

  .vertical-list > li{
    margin-top: 10px;
  }
  
  .vertical-list li:hover {
    background-color: #78a9ca; 
    color: white; 
  }
  