.item {
  display: flex;
  align-items: center;
  border-radius: 15px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  outline: none;
  gap: 10px;
  padding: 15px;
  margin: 0;
  transition: box-shadow 0.3s ease, border 0.3s ease;
}

.todo-task {
  flex: 1; /* Take up remaining space */
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}

.todo-task:hover {
  font-size: 1.2rem;
}

.nav-btns {
  list-style-type: none;
  margin: 0;
  padding: 0;

  gap: 10px;
  display: flex;
}

/*-- image as a checkbox in CSS----*/
#humburger-btns {
  appearance: none;
  width: 30px;
  height: 30px;
  background-image: url("src/assets/menu-btn.svg");
  background-size: cover;
  cursor: pointer;
}

#humburger-btns:checked {
  background-image: url("src/assets/close-menu-btn.svg");
}

.nav-btns > li > button {
  padding: 10px 20px;
  width: 100px;
  background-color: whitesmoke;
  border-radius: 15px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  border: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-btns > li > button:hover {
  background-color: whitesmoke;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
}

.nav-btns > li > button > span {
  font-size: 0.8rem;
}

.nav-btns > li > button[disabled] {
  background-color: #ddd;
  color: #999;
  cursor: not-allowed;
  box-shadow: none;
}

.todo-completed {
  text-decoration: line-through;
  text-decoration-color: rgb(43, 182, 115);
  text-decoration-thickness: 2px;
}


/* styles for desktops*/
@media (min-width: 1070px) {
  #humburger-btns{
    display: none;
  }
  .nav-btns {
    display: flex;
  }
}

/*styles for tablets*/
@media (min-width: 801px) and (max-width: 1070px){
  #humburger-btns{
    display: none;
  }
  .nav-btns{
    display: flex;
  }
}

/*styles for mobiles*/
@media (max-width: 800px){
  /*when the checkbox is checked, we’ll show the menu*/
  #humburger-btns:checked ~ .nav-btns {
    display:flex;
    flex-direction: column;
  }

  .nav-btns{
    display: none;
  }
}
