.item {
  display: flex;
  align-items: center;
  border-radius: 15px;
  border: 1px solid #ccc; 
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  outline: none;
  gap: 10px;
  padding: 15px;
  margin: 0;
  transition: box-shadow 0.3s ease, border 0.3s ease;
}
 
.todo-task {
  flex: 1; /* Take up remaining space */
}

.todo-task:hover{
  font-size: 1.2rem;
}

.item > button {
  padding: 10px 20px;
  background-color: whitesmoke ; 
  border-radius: 15px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  border: none;
  cursor: pointer;
  
}

.item > button:hover {
  background-color: whitesmoke;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); 
  transform: scale(1.05); 
}

.item > button > span {
  font-size: 0.8rem;
}

.item > button[disabled] {
  background-color: #ddd;
  color: #999;
  cursor: not-allowed;
  box-shadow: none;
}

.todo-completed {
  text-decoration: line-through;
  text-decoration-color: rgb(43, 182, 115); 
  text-decoration-thickness: 2px;
}
