.item {
  display: flex;
  align-items: center;
  
  background-color: var(--bg-list-item);
  color: var(--color-list-item);

  gap: 10px;
  padding: 10px;
  margin-top: 10px;
}

.item:hover {
  background-color: var(--bg-list-item-hover);
  color: var(--color-list-item-hover);
}

.todo-task {
  flex: 3; 
  display: flex;
  align-items: center;
  gap: 10px;
}

.todo-completed {
  text-decoration: line-through;
  text-decoration-color: var(--decoration-color);
  text-decoration-thickness: 2px;
}

.todo-done{
  flex: 0.8;
  display: flex;
  gap: 10px;
  cursor: pointer;
}

.todo-column{
  flex: 1.5;
  display: flex;
  gap: 10px;
  cursor: pointer;
}

#done-todo {
  appearance: none;

  width: 25px;
  height: 25px;
  
  background-image: var(--todo-item);
 
  background-size: cover;
  cursor: pointer;
}

#done-todo:checked {
  background-image: var(--done-todo-item);
}
