:root {
  --logo-text-color: #2bb673;

  --border-color-active: #2bb673;
  --border-color-disabled: #c7c3c3;

  --bg-btn-color-active:#2bb673;
  --bg-btn-color-disabled: #c7c3c3;

  --color-btn-active: white;
  --color-btn-disabled: #567891;
  --shadow-color-btn: #F2F2F2;

  --decoration-color: #2bb673;
  
  --color-list-item: #567891;
  --bg-list-item: white;
  --color-list-item-hover: white;
  --bg-list-item-hover: #82b3d6;
  
  --color-btn-list-item: #567891;
  --bg-btn-list-item: #F2F2F2;
  --shadow-btn-list-item: #c7c3c3;

  --bg-btn-list-item-disabled: #c7c3c3;
  --color-btn-list-item-disabled: #567891;

  --bg-btn-list-item-hover: #F2F2F2;
  --shadow-btn-list-item-hower: #567891;

  --bg-loader: #F2F2F2;
  --color-loader: #82b3d6;
  
  --bg-input-disabled: #F2F2F2;
  

}
