
.label-input{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.input-text {
  padding: 10px;
}

.lbl{
  margin-bottom: 10px;
}

.readonly {
  cursor: default;
  background-color: var(--bg-input-disabled);
}

.input-text:not([readonly]):focus {
  border-radius: 15px;
  box-shadow: 0 0 5px var(--border-color-active);
  border: 1px solid var(--border-color-active);
  transition: box-shadow 0.3s ease, border 0.3s ease;
  outline: none;
}